
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Weather Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body bgcolor="#2597f1">
    <h2 align="center" class="lab">Weather Forecast</h2>
    <div class="search">
      <input type="text" class="searchTerm" placeholder="Where do you live?" id="search-input">
      <button type="submit" class="searchButton" id="search-btn">Search</button>
   </div>

    <div>
      <div class="temperature">
        <div id="temp-div">Temperature</div>
      </div>
      <div class="humidity">
        <div id="humidity-div">Humidity</div>
      </div>
      <div class="desc">
        <div id="desc-div">Description</div>
      </div>
      <div class="wind">
        <div id="wind-div">Wind Speed(mph)</div>
      </div>
    </div>

    <!--JS Logic-->
    <!--Google places api-->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmNGbr6x9pWBrunCOBJzs4NBCgaM9Om74&libraries=places&callback=initAutocomplete"
      async
      defer
    ></script>
    <script>
        let lat,long;
        function getWeather()  //communicate with express rest api
        {
          let input = document.getElementById('search-input');
          $.get('http://localhost:3000/getWeather?lat='+lat+'&long='+long, function(resp) {
            console.log('Resp');
            console.log(resp);
            let t=(parseFloat(resp.temp)-273.15).toFixed(2);
            console.log(t);
            document.getElementById("temp-div").innerHTML="Temperature: "+t+"°C";
            document.getElementById("humidity-div").innerHTML="Humidity: "+resp.humidity+" %";
            document.getElementById("desc-div").innerHTML=resp.desc;
            document.getElementById("wind-div").innerHTML="Wind: "+resp.wind+" mph";
          });
        }

        function initAutocomplete()
        {
          // Create the search box and link it to the UI element.
          let input = document.getElementById('search-input');
          let searchBox = new google.maps.places.SearchBox(input);
          let autocomplete = new google.maps.places.Autocomplete(input);
          let place = autocomplete.getPlace();
          autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            console.log('Autocomplete got called');
            lat = place.geometry.location.lat();
            long = place.geometry.location.lng();
            console.log(lat);
            console.log(long);
          });

          searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
              return;
            }
          });

          let searchButton = document.getElementById("search-btn");
          searchButton.addEventListener("click", getWeather);
        }

    </script>

  </body>
</html>
